{% extends 'website/base.html' %}

{% block content %}

<h2>
    Change Password
</h2>

<form method="POST" action='' enctype="multipart/form-data" >{% csrf_token %}
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{message.tag}}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
    {% for field in form %}
    <div class="fieldWrapper">
        {{ field.errors }}
        {{ field.label_tag }}
        <br>
        {{ field }}
        {% if field.help_text %}
        <p class="help">{{ field.help_text|safe }}</p>
        {% endif %}
    </div>
{% endfor %}
<br>
<input type="submit" class="btn btn-default" value="Change Password"/>
</form>

<br>

{% endblock content %}
