{% extends 'website/base.html' %}
{% block title %}Log In{% endblock %}
{% block login_active %}active{% endblock %}

{% block content %}
<div class="container-fluid">

    <div class="row">
        <div class="col-sm-12 col-md-6">
            <div class="panel panel-default">
                <div class="panel-body">
                    <h3>Log In</h3>
                    {% if error_message %}
                        <p><strong>{{ error_message }}</strong></p>
                    {% endif %}
                    <form class="form-horizontal" role="form" action="{% url 'login' %}" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="form-group">
                            <label class="control-label col-sm-15" for="id_username">
                                <font size="5">
                                    Username:
                                </font>
                            </label>
                            <div class="col-sm-20">
                                <input id="id_username" maxlength="30" name="username" type="text">
                            </div>
                        </div>
                        {% csrf_token %}
                        <div class="form-group">
                            <label class="control-label col-sm-15" for="password">
                                <font size="5">
                                    Password:
                                </font>

                            </label>
                            <div class="col-sm-20">
                                <input id="password" maxlength="30" name="password" type="password">
                            </div>
                            <button type="button" id="eye" onclick="if(password.type=='text')password.type='password'; else password.type='text';">
                                Show/Hide Password
                            </button>
                        </div>
                        <br>

                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <button type="submit" class="btn btn-success">Submit</button>
                            </div>
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>

</div>

{% endblock %}




